    <div class="row">
        <div class="col-md-4">
            <h3>SpotHero acquires Parking Panda!!!</h3>
            <div class="row">
                <div class="col-md-6">SpotHero is an app that allows you, a driver in search of a space, to reserve and prepay for a spot in a parking garage before you even leave the house. 
                </div>
                <div class="col-md-6"><img width="80%" src ="https://tctechcrunch2011.files.wordpress.com/2017/04/screenshot-2017-04-13-14-18-50.jpg?w=208&h=156&crop=1&quality=85&strip=all" /></div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>The CIA is really, really mad at WikiLeaks</h3>
            <div class="row">
                <div class="col-md-6">Speaking at the Center for Strategic and International Studies today, CIA Director Mike Pompeo went off on WikiLeaks. Pompeo is pretty mad about that whole Vault 7 hacking tools data dump, it looks like. 
                </div>
                <div class="col-md-6"><img width="80%" src ="https://tctechcrunch2011.files.wordpress.com/2017/03/cia-wikileaks.jpg?w=208&h=156&crop=1&quality=85&strip=all" /></div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Baidu is acquiring xPerception, a US startup focused on computer vision</h3>
            <div class="row">
                <div class="col-md-6">Baidu is acquiring xPerception, a U.S. startup specialized in computer vision, according to Reuters. 
                </div>
                <div class="col-md-6"><img width="80%" src ="https://tctechcrunch2011.files.wordpress.com/2017/04/gettyimages-626189980.jpg?w=208&h=156&crop=1&quality=85&strip=all" /></div>
            </div>            
        </div>
    </div>  

    <div class="row">
        <div class="col-md-4">
            <h3>SpotHero acquires Parking Panda!!!</h3>
            <div class="row">
                <div class="col-md-6">SpotHero is an app that allows you, a driver in search of a space, to reserve and prepay for a spot in a parking garage before you even leave the house. 
                </div>
                <div class="col-md-6"><img width="80%" src ="https://tctechcrunch2011.files.wordpress.com/2017/04/screenshot-2017-04-13-14-18-50.jpg?w=208&h=156&crop=1&quality=85&strip=all" /></div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>The CIA is really, really mad at WikiLeaks</h3>
            <div class="row">
                <div class="col-md-6">Speaking at the Center for Strategic and International Studies today, CIA Director Mike Pompeo went off on WikiLeaks. Pompeo is pretty mad about that whole Vault 7 hacking tools data dump, it looks like. 
                </div>
                <div class="col-md-6"><img width="80%" src ="https://tctechcrunch2011.files.wordpress.com/2017/03/cia-wikileaks.jpg?w=208&h=156&crop=1&quality=85&strip=all" /></div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Baidu is acquiring xPerception, a US startup focused on computer vision</h3>
            <div class="row">
                <div class="col-md-6">Baidu is acquiring xPerception, a U.S. startup specialized in computer vision, according to Reuters. 
                </div>
                <div class="col-md-6"><img width="80%" src ="https://tctechcrunch2011.files.wordpress.com/2017/04/gettyimages-626189980.jpg?w=208&h=156&crop=1&quality=85&strip=all" /></div>
            </div>            
        </div>
    </div>  
    
    <div class="row">
        <div class="col-md-4">
            <h3>SpotHero acquires Parking Panda!!!</h3>
            <div class="row">
                <div class="col-md-6">SpotHero is an app that allows you, a driver in search of a space, to reserve and prepay for a spot in a parking garage before you even leave the house. 
                </div>
                <div class="col-md-6"><img width="80%" src ="https://tctechcrunch2011.files.wordpress.com/2017/04/screenshot-2017-04-13-14-18-50.jpg?w=208&h=156&crop=1&quality=85&strip=all" /></div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>The CIA is really, really mad at WikiLeaks</h3>
            <div class="row">
                <div class="col-md-6">Speaking at the Center for Strategic and International Studies today, CIA Director Mike Pompeo went off on WikiLeaks. Pompeo is pretty mad about that whole Vault 7 hacking tools data dump, it looks like. 
                </div>
                <div class="col-md-6"><img width="80%" src ="https://tctechcrunch2011.files.wordpress.com/2017/03/cia-wikileaks.jpg?w=208&h=156&crop=1&quality=85&strip=all" /></div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Baidu is acquiring xPerception, a US startup focused on computer vision</h3>
            <div class="row">
                <div class="col-md-6">Baidu is acquiring xPerception, a U.S. startup specialized in computer vision, according to Reuters. 
                </div>
                <div class="col-md-6"><img width="80%" src ="https://tctechcrunch2011.files.wordpress.com/2017/04/gettyimages-626189980.jpg?w=208&h=156&crop=1&quality=85&strip=all" /></div>
            </div>            
        </div>
    </div>